page-home {
	#map_canvas {
		width: 100%;
		height: 100%;
	}	
}

ion-card {
	max-height: 200px;
	overflow: scroll;
	position: absolute;
	z-index: 1;
	display: none
}

.scroll {
	height: 100%
}
#botaoRadar{
	//position: absolute;
	background-color: #fff;
	padding: 5px;
	border: 1px solid #999;
	text-align: center;
	font-family: 'Roboto','sans-serif';
	line-height: 30px;
	padding-left: 10px;
}

#calcularRota{
	//position: absolute;
	background-color: #fff;
	padding: 5px;
	border: 1px solid #999;
	text-align: center;
	font-family: 'Roboto','sans-serif';
	line-height: 30px;
	padding-left: 10px;
}

#floating-panel {
	position: absolute;
	top: 10px;
	left: 25%;
	z-index: 5;
	background-color: #fff;
	padding: 5px;
	border: 1px solid #999;
	text-align: center;
	font-family: 'Roboto','sans-serif';
	line-height: 30px;
	padding-left: 10px;
  }